.contact-main {
    position: relative;
}
.contactus-header {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #1a1a1a;
    width: fit-content;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(-90deg, #7a541f 0, #ebb447 100%) 1;
    margin-block: 12px 40px;
    margin-inline: auto;
}
.contact-grid-holder1 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 60px;
    align-items: center;
    position: relative;
    z-index: 5;
}
.contact-grid-item {
    position: relative;
    height: 100%;
    align-self: center;
    padding-block: 20px 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    box-sizing: border-box;
}
.contact-flex-box {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    padding-block: 10px;
}
.contact-links-flex {
    display: flex;
    flex-flow: column;
    align-items: baseline;
    justify-content: flex-start;
}
.contactus-links {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    padding-left: 12px;
    color: #999999;
    text-decoration: none;
}
.contactus-map-links {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    padding-inline: 11px 0;
    padding-block: 10px 10px;
    margin-inline: 0;
    border-radius: 3px;
    transition: 0.4s ease all;
    text-transform: uppercase;
    background: linear-gradient(90deg, #875f26 20%, #e4bb49 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-locmap-btn:hover,
.contactus-map-links:hover {
    background: linear-gradient(90deg, #e4bb49 30%, #875f26 78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.4s ease all;
}
.contact-address-icons i {
    color: #404040;
}
.contactus-h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-transform: uppercase;
    color: #1a1a1a;
    width: fit-content;
    margin-block: 12px 0px;
}
.contactus-form {
    position: relative;
    width: 100%;
    padding-block: 20px 20px;
}
.contactus-fields {
    position: relative;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    margin-block: 10px 20px;
}
.contactus-input-field {
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #b3b3b3;
    color: #504f4f;
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    height: 100%;
    padding: 10px 10px 5px;
    margin-inline: 0;
    margin-block: 0;
    line-height: 1.2;
    box-sizing: border-box;
}
.contactus-input-field:focus,
.contactus-input-field:focus-visible {
    outline: 0;
}
.contactusblog-btn {
    position: relative;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    color: #fff;
    padding-inline: 20px 20px;
    padding-block: 10px 10px;
    margin-inline: 8px;
    border: 0;
    border-radius: 8px;
    background: linear-gradient(90deg, #875f26 0, #e4bb49 100%);
    transition: 0.4s ease all;
}
.contactus-location-items {
    position: relative;
    max-width: 340px;
    height: auto;
    width: 100%;
    padding: 10px;
}
.contactus-location-items:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 30px -8px #ebeae9;
    transition: 0.4s all;
}
.contactus-location-items a {
    text-decoration: none;
}
.contactus-location-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 40px;
    padding-block: 20px 40px;
}
.contact-loc-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-loc-header {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 300;
    color: #141414;
    margin-block: 10px 10px;
}
.contact-loc-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    color: #999;
    padding-left: 8px;
    margin-block: 4px 8px;
}

.contact-locmap-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    padding-inline: 0 0;
    padding-block: 10px 10px;
    margin-inline: 0;
    border-radius: 3px;
    transition: 0.4s ease all;
    text-transform: uppercase;
    background: linear-gradient(90deg, #875f26 30%, #e4bb49 78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media only screen and (min-device-width: 1200px) and (max-device-width: 1350px) {
}
@media only screen and (min-device-width: 1025px) and (max-device-width: 1199px) {
}
@media only screen and (min-device-width: 992px) and (max-device-width: 1024px) {
}
@media only screen and (min-device-width: 769px) and (max-device-width: 991px) {
}
@media only screen and (max-width: 768px) {
    .contact-grid-holder1 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 0px;
    }
    .contactus-header {
        font-size: 32px;
        margin-block: 15px 20px;
    }
    .contactus-h2 {
        font-size: 28px;
    }
    .contact-loc-text,
    .contactus-links {
        font-size: 16px;
    }
    .contact-loc-header {
        font-size: 20px;
    }
}
@media only screen and (max-width: 767px) {
}
@media only screen and (max-width: 550px) {
    .contactus-header {
        font-size: 28px;
        margin-block: 12px 12px;
    }
    .contactus-h2 {
        font-size: 24px;
    }
}
@media only screen and (max-width: 375px) {
}
