body::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0, 0.9);
    border: 1px solid #555555;
    border-radius: 30px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px transparent;
    background-color: transparent;
}

body::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: #875f26;
    border: 1px solid transparent;
    border-radius: 30px;
}
body {
    margin: 0 auto;
    overflow-x: hidden;
}
/* Display Properties starts */
.d-block {
    display: block !important;
}
.d-inline {
    display: inline;
}
.d-none {
    display: none;
}
.d-inline-block {
    display: inline-block;
}
.d-grid {
    display: grid;
}
.d-inline-grid {
    display: inline-grid;
}
.d-flex {
    display: flex;
}
.d-inline-flex {
    display: inline-flex;
}
.d-contents {
    display: contents;
}
.d-table {
    display: table;
}
.d-inline-table {
    display: inline-table;
}
.d-table-caption {
    display: table-caption;
}
.d-table-cell {
    display: table-cell;
}
.d-table-column {
    display: table-column;
}
.d-table-column-group {
    display: table-column-group;
}
.d-table-footer-group {
    display: table-footer-group;
}
.d-table-header-group {
    display: table-header-group;
}
.d-table-row {
    display: table-row;
}
.d-table-row-group {
    display: table-row-group;
}
.d-flow-root {
    display: flow-root;
}
.d-revert {
    display: revert;
}
.d-list-item {
    display: list-item;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-around {
    justify-content: space-around;
}
.justify-content-evenly {
    justify-content: space-evenly;
}
.justify-content-end {
    justify-content: end;
}
.justify-content-start {
    justify-content: start;
}
.align-items-center {
    align-items: center;
}
.align-items-start {
    align-items: flex-start;
}
.align-items-end {
    align-items: flex-end;
}
.align-items-baseline {
    align-items: baseline;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}
.flex-nowrap {
    flex-wrap: nowrap;
}
.flex-direction-row {
    flex-direction: row;
}
.flex-direction-row-reverse {
    flex-direction: row-reverse;
}
.flex-direction-column {
    flex-direction: column;
}
.flex-direction-column-reverse {
    flex-direction: column-reverse;
}

/* display properties ends */

/* opacity */

.opacity-0 {
    opacity: 0;
}
.opacity-1 {
    opacity: 1;
}

/* cursor starts */

.pointer {
    cursor: pointer;
}
.not-allowed {
    cursor: not-allowed;
}
.cursor-none {
    cursor: none;
}
.no-drop {
    cursor: no-drop;
}

/* overflow starts */

.overflow-auto {
    overflow: auto;
}
.overflow-hidden {
    overflow: hidden;
}
.overflow-scroll {
    overflow: scroll;
}

/* cursor end */

/* margin */

.mt-1 {
    margin-top: 1rem;
}
.mt-2 {
    margin-top: 2rem;
}
.mt-3 {
    margin-top: 3rem !important;
}
.mt-4 {
    margin-top: 4rem !important;
}
.mt-5 {
    margin-top: 5rem !important;
}
.mt-6 {
    margin-top: 6rem;
}
.mt-7 {
    margin-top: 7rem;
}
.mt-8 {
    margin-top: 8rem !important;
}
.mt-9 {
    margin-top: 9rem;
}
.mt-10 {
    margin-top: 10rem;
}
.mb-0 {
    margin-bottom: 0px !important;
}
.mb-1 {
    margin-bottom: 1rem;
}
.mb-2 {
    margin-bottom: 2rem;
}
.mb-3 {
    margin-bottom: 3rem;
}
.mb-4 {
    margin-bottom: 4rem;
}
.mb-5 {
    margin-bottom: 5rem;
}
.mb-6 {
    margin-bottom: 6rem;
}
.mb-7 {
    margin-bottom: 7rem;
}
.mb-8 {
    margin-bottom: 8rem;
}
.mb-9 {
    margin-bottom: 9rem;
}
.mb-10 {
    margin-bottom: 10rem;
}
.ml-1 {
    margin-left: 1rem;
}
.ml-2 {
    margin-left: 2rem;
}
.ml-3 {
    margin-left: 3rem;
}
.ml-4 {
    margin-left: 4rem;
}
.ml-5 {
    margin-left: 5rem;
}
.ml-6 {
    margin-left: 6rem;
}
.ml-7 {
    margin-left: 7rem;
}
.ml-8 {
    margin-left: 8rem;
}
.ml-9 {
    margin-left: 9rem;
}
.ml-10 {
    margin-left: 10rem;
}
.mr-1 {
    margin-right: 1rem;
}
.mr-2 {
    margin-right: 2rem;
}
.mr-3 {
    margin-right: 3rem;
}
.mr-4 {
    margin-right: 4rem;
}
.mr-5 {
    margin-right: 5rem;
}
.mr-6 {
    margin-right: 6rem;
}
.mr-7 {
    margin-right: 7rem;
}
.mr-8 {
    margin-right: 8rem;
}
.mr-9 {
    margin-right: 9rem;
}
.mr-10 {
    margin-right: 10rem;
}
.m-1 {
    margin: 1rem;
}
.m-2 {
    margin: 2rem;
}
.m-3 {
    margin: 3rem;
}
.m-4 {
    margin: 4rem;
}
.m-5 {
    margin: 5rem;
}
.m-6 {
    margin: 6rem;
}
.m-7 {
    margin: 7rem;
}
.m-8 {
    margin: 8rem;
}
.m-9 {
    margin: 9rem;
}
.m-10 {
    margin: 10rem;
}
.m-auto {
    margin: auto;
}

/* margin ends */

/* padding */

.pt-1 {
    padding-top: 1rem;
}
.pt-2 {
    padding-top: 2rem;
}
.pt-3 {
    padding-top: 3rem;
}
.pt-4 {
    padding-top: 4rem;
}
.pt-5 {
    padding-top: 5rem;
}
.pt-6 {
    padding-top: 6rem;
}
.pt-7 {
    padding-top: 7rem;
}
.pt-8 {
    padding-top: 8rem;
}
.pt-9 {
    padding-top: 9rem;
}
.pt-10 {
    padding-top: 10rem;
}
.pb-1 {
    padding-bottom: 1rem;
}
.pb-2 {
    padding-bottom: 2rem;
}
.pb-3 {
    padding-bottom: 3rem;
}
.pb-4 {
    padding-bottom: 4rem;
}
.pb-5 {
    padding-bottom: 5rem;
}
.pb-6 {
    padding-bottom: 6rem;
}
.pb-7 {
    padding-bottom: 7rem;
}
.pb-8 {
    padding-bottom: 8rem;
}
.pb-9 {
    padding-bottom: 9rem;
}
.pb-10 {
    padding-bottom: 10rem;
}
.pl-1 {
    padding-left: 1rem;
}
.pl-2 {
    padding-left: 2rem;
}
.pl-3 {
    padding-left: 3rem;
}
.pl-4 {
    padding-left: 4rem;
}
.pl-5 {
    padding-left: 5rem;
}
.pl-6 {
    padding-left: 6rem;
}
.pl-7 {
    padding-left: 7rem;
}
.pl-8 {
    padding-left: 8rem;
}
.pl-9 {
    padding-left: 9rem;
}
.pl-10 {
    padding-left: 10rem;
}
.pr-1 {
    padding-right: 1rem;
}
.pr-2 {
    padding-right: 2rem;
}
.pr-3 {
    padding-right: 3rem;
}
.pr-4 {
    padding-right: 4rem;
}
.pr-5 {
    padding-right: 5rem;
}
.pr-6 {
    padding-right: 6rem;
}
.pr-7 {
    padding-right: 7rem;
}
.pr-8 {
    padding-right: 8rem;
}
.pr-9 {
    padding-right: 9rem;
}
.pr-10 {
    padding-right: 10rem;
}
.p-1 {
    padding: 1rem;
}
.p-2 {
    padding: 2rem;
}
.p-3 {
    padding: 3rem;
}
.p-4 {
    padding: 4rem;
}
.p-5 {
    padding: 5rem;
}
.p-6 {
    padding: 6rem;
}
.p-7 {
    padding: 7rem;
}
.p-8 {
    padding: 8rem;
}
.p-9 {
    padding: 9rem;
}
.p-10 {
    padding: 10rem;
}

/* padding ends */
/* whitepsace starts*/

.white-space-pre-wrap {
    white-space: pre-wrap;
}
.white-space-no-wrap {
    white-space: nowrap;
}
.white-space-normal {
    white-space: normal;
}

/* whitespace ends */

/* font size starts */

.fs-8 {
    font-size: 8px;
}
.fs-10 {
    font-size: 10px;
}
.fs-11 {
    font-size: 11px;
}
.fs-12 {
    font-size: 12px;
}
.fs-13 {
    font-size: 13px;
}
.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size: 15px;
}
.fs-16 {
    font-size: 16px;
}
.fs-17 {
    font-size: 17px;
}
.fs-18 {
    font-size: 18px;
}
.fs-19 {
    font-size: 19px;
}
.fs-20 {
    font-size: 20px;
}
.fs-22 {
    font-size: 22px;
}
.fs-24 {
    font-size: 24px;
}
.fs-26 {
    font-size: 26px;
}
.fs-28 {
    font-size: 28px;
}
.fs-30 {
    font-size: 30px;
}
.fs-50 {
    font-size: 50px;
}

/* font size ends */

/* font weight starts */

.fw-100 {
    font-weight: 100;
}
.fw-200 {
    font-weight: 200;
}
.fw-300 {
    font-weight: 300;
}
.fw-400 {
    font-weight: 400;
}
.fw-500 {
    font-weight: 500;
}
.fw-600 {
    font-weight: 600;
}
.fw-700 {
    font-weight: 700;
}
.fw-800 {
    font-weight: 800;
}
.fw-bold {
    font-weight: bold;
}
.fw-bolder {
    font-weight: bolder;
}

/* font weight ends */

/* width starts */

.w-100 {
    width: 100%;
}
.max-width-100 {
    max-width: 100%;
}
.w-fit-content {
    width: fit-content;
}
.w-0 {
    width: 0;
}
.w-10 {
    width: 10%;
}
.w-25 {
    width: 25%;
}
.w-50 {
    width: 50%;
}
.w-75 {
    width: 75%;
}
.w-inheirt {
    width: inherit;
}
.w-auto {
    width: auto;
}
.w-initial {
    width: initial;
}

/* width ends */

/* height starts */

.h-100 {
    height: 100%;
}
.max-height-100 {
    max-height: 100%;
}
.h-fit-content {
    height: fit-content;
}
.h-0 {
    height: 0;
}
.h-10 {
    height: 10%;
}
.h-25 {
    height: 25%;
}
.h-50 {
    height: 50%;
}
.h-75 {
    height: 75%;
}
.h-inheirt {
    height: inherit;
}
.h-auto {
    height: auto;
}
.h-initial {
    height: initial;
}

/* height ends */

/* content center starts */

.content-center {
    margin: 0 auto;
}
.vertical-align-middle {
    vertical-align: middle;
}
.vertical-align-baseline {
    vertical-align: baseline;
}

/* content center ends */

/* postion starts */

.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
.fixed {
    position: fixed;
}
.static {
    position: static;
}
.sticky {
    position: sticky;
}

/* position ends */

/* img starts */

.img-responsive {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.object-contain {
    object-fit: contain;
}
.object-cover {
    object-fit: cover;
}

/* img ends */

/* text align starts */

.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}

/* text align ends */

/* text decoration starts */

.text-underline {
    text-decoration: underline;
}
.text-none {
    text-decoration: none;
}

/* text decoration ends */

/* colors starts */

.text-white {
    color: white;
}
.text-black {
    color: black;
}
.bg-white {
    background-color: white;
}
.bg-black {
    background-color: black;
}
.appiness-text-color {
    color: #57bfff;
}
.appiness-bg-color {
    background-color: #00aecb;
}

/* colors ends */
/* container css for aboutus page */
.section-container-home {
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    width: calc(100% - 140px);
}
.section-container-full-home {
    margin-left: auto;
    margin-right: 0px;
    max-width: 1440px;
    width: calc(100% - 70px);
}
@media screen and (max-width: 767px) {
    .section-container-home {
        width: calc(100% - 20px);
        margin: auto;
        box-sizing: border-box;
    }
    .section-container-full-home {
        margin: auto;
        width: calc(100% - 20px);
        box-sizing: border-box;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .section-container-home,
    .section-container-full-home {
        margin-left: auto;
        width: calc(100% - 40px);
        box-sizing: border-box;
    }
}
@media screen and (min-width: 1660px) {
    .section-container-full-home {
        margin: 0 auto;
    }
}
/* container css for about us ends page */
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container-fluid > .navbar-collapse,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container > .navbar-header {
    margin-right: -15px;
    margin-left: -15px;
}
@media (min-width: 768px) {
    .container-fluid > .navbar-collapse,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container > .navbar-header {
        margin-right: 0;
        margin-left: 0;
    }
}
@media (min-width: 768px) {
    .main-navbar > .container .navbar-brand,
    .main-navbar > .container-fluid .navbar-brand {
        margin-left: -15px;
    }
}
.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
}
.jumbotron .h1,
.jumbotron h1 {
    color: inherit;
}
.jumbotron p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
}
.jumbotron > hr {
    border-top-color: #d5d5d5;
}
.container .jumbotron,
.container-fluid .jumbotron {
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 6px;
}
.jumbotron .container {
    max-width: 100%;
}
@media screen and (min-width: 768px) {
    .jumbotron {
        padding-top: 48px;
        padding-bottom: 48px;
    }
}
.container .jumbotron,
.container-fluid .jumbotron {
    padding-right: 60px;
    padding-left: 60px;
}
.jumbotron .h1,
.jumbotron h1 {
    font-size: 63px;
}
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.dl-horizontal dd:after,
.dl-horizontal dd:before,
.form-horizontal .form-group:after,
.form-horizontal .form-group:before,
.modal-footer:after,
.modal-footer:before,
.modal-header:after,
.modal-header:before,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.main-navbar:after,
.main-navbar:before,
.pager:after,
.pager:before,
.panel-body:after,
.panel-body:before,
.row:after,
.row:before {
    display: table;
    content: " ";
}
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.pull-right {
    float: right !important;
}
.pull-left {
    float: left !important;
}
.hide {
    display: none !important;
}
.show {
    display: block !important;
}
.invisible {
    visibility: hidden;
}

/* container ends */

/* navbar */
.desktop-menu {
    display: flex;
    height: 100%;
    flex-direction: column;
}
.main-navbar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 20;
    /* box-shadow: 1px 0px 6px rgb(0 0 0 / 15%); */
    padding-right: 15px;
}
.menu-text {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02rem;
    color: #18aaca;
}
.menu-horizontal {
    position: relative;
    padding-left: 1.9em;
}
.menu-horizontal:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.5em;
    width: 1.8em;
    height: 0.16em;
    background: #00aecb;
    box-shadow: 0 0.4em 0 0 #00aecb, 0 0.8em 0 0#00aecb;
}
#default-nav:hover .side-nav {
    width: 245px;
    transform: translate3d(0, 0, 0);
    opacity: 1;
}
.mobile-side-nav {
    width: 245px !important;
    transform: translate3d(0, 0, 0) !important;
    opacity: 1 !important;
    z-index: 9999 !important;
}
.side-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #e4e5e9;
    backdrop-filter: blur(30px);
    z-index: 9999;
    opacity: 0;
    width: 0;
    transform: translate3d(-50px, 0, 0); /* ADDED - move x to 0 on hover */
    cursor: pointer;
    transition: 0.5s all ease-in-out;
}
.active-side-nav {
    opacity: 1 !important;
    transform: translate3d(0, 0, 0) !important;
}
.appiness-logo {
    max-height: 200px;
    object-fit: contain;
    width: auto;
}
.smiley-logo {
    width: 45px;
    height: 15px;
}
.side-nav {
    overflow-y: auto;
}
.side-nav::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px transparent;
    background-color: transparent;
}

.side-nav::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.side-nav::-webkit-scrollbar-thumb {
    background-color: #875f26;
    border: 1px solid transparent;
    border-radius: 30px;
}
.right-side-form::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px transparent;
    background-color: transparent;
}

.right-side-form::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.right-side-form::-webkit-scrollbar-thumb {
    background-color: #875f26;
    border: 1px solid transparent;
    border-radius: 30px;
}

/* aos animation starts */
[data-aos="fade-up-custom"] {
    transform: translateY(20px);
}

[data-aos="fade-down-custom"] {
    transform: translateY(-20px);
}

[data-aos="fade-left-custom"] {
    transform: translateX(20px);
}

[data-aos="fade-right-custom"] {
    transform: translateX(-20px);
}

@media screen and (max-width: 576px) {
    [data-aos="fade-left-custom"] {
        transform: translateX(3px);
    }

    [data-aos="fade-right-custom"] {
        transform: translateX(-3px);
    }
}
/* aos animation ends */

/* popup css starts */

/* Youtube Player */

.close {
    float: right;
    position: relative;
    right: 0px;
    cursor: pointer;
    width: 35px;
    height: 29px;
}

.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 25px;
    width: 2px;
    background-color: #fff;
    z-index: 999;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.youtube-video-popup {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    background-color: rgb(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    transition: 0.5s ease all;
}

.modal-dialog {
    -webkit-animation-name: fadeDownVideo;
    animation-name: fadeDownVideo;
    webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    transition: 0.5s ease all;
    max-width: 70%;
    width: 100%;
    background: transparent;
    height: 600px;
    position: relative;
    margin: 0 auto;
    top: 3%;
}

.youtube-video-popup iframe {
    transition: 0.5s ease all;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    padding-top: 46px;
}

.youtube-video-popup iframe::before {
    padding-top: 56.25%;
}

@media screen and (max-width: 576px) {
    .modal-dialog {
        width: 90% !important;
        max-width: 100% !important;
        height: 250px !important;
        top: 25% !important;
    }
}

@-webkit-keyframes fadeDownVideo {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fadeDownVideo {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes fadeUpVideo {
    0% {
        opacity: 1;
        -webkit-transform: translateY();
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-50px);
    }
}

@keyframes fadeUpVideo {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-50px);
    }
}

.fadeUpVideo {
    -webkit-animation-name: fadeUpVideo !important;
    animation-name: fadeUpVideo !important;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.beroe-modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    outline: 0;
    background-color: rgb(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    transition: 0.5s ease all;
}

@media screen and (min-width: 577px) {
    .register-modal {
        transition: 0.5s ease all;
        overflow: auto !important;
    }
}
.register-modal::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgb(0, 0, 0, 0.7);
}

.register-modal::-webkit-scrollbar {
    width: 5px;
    background-color: rgb(0, 0, 0, 0.7);
}

.register-modal::-webkit-scrollbar-thumb {
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 30px;
}

.beroe-dialog {
    -webkit-animation-name: fadeDownVideo;
    animation-name: fadeDownVideo;
    webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    transition: 0.5s ease all;
    max-width: 540px;
    width: 100%;
    background: transparent;
    /* max-height: 650px; */
    /* overflow: auto; */
    position: relative;
    margin: 0 auto;
    top: 3%;
    background-color: #27282a;
    padding: 30px;
}

.beroe-dialog::-webkit-scrollbar {
    width: 0px !important;
}

.close-btn {
    float: right;
    position: relative;
    right: 0px;
    cursor: pointer;
    width: 35px;
    height: 20px;
}

.close-btn:hover {
    opacity: 1;
}

.close-btn:before,
.close-btn:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 25px;
    width: 2px;
    background-color: #fff;
    z-index: 999;
}

.close-btn:before {
    transform: rotate(45deg);
}

.close-btn:after {
    transform: rotate(-45deg);
}
#root {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
}
/* home Header Css start */
.header-main {
    position: relative;
    background-color: #ffffff;
    width: 100%;
    height: auto;
    margin: 0 auto;
    border: none;
    outline: 0;
    transition: 0.5s ease all;
}
.stickyheader {
    background-color: #ebeae9;
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 9999;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1),
        -webkit-transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.header-flex {
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    width: calc(100% - 140px);
}
.-hidden {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    transition: top 0.3s;
    position: fixed !important;
}
.menu-main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 10px;
    min-height: 45px;
}
.menu-main a {
    text-decoration: none;
}
.menu-main a:hover {
    text-decoration: none;
}
.menu-items {
    padding-inline: 25px 25px;
    position: relative;
    display: block;
}
.menu-items:last-child {
    padding-inline: 25px 0px;
}
.menu-links {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
}
.menu-sidebar-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
.menu-enquirebtn {
    position: relative;
    color: #ffffff;
    padding-inline: 25px 25px;
    padding-block: 10px 10px;
    margin-inline: 8px;
    border-radius: 8px;
    background: linear-gradient(90deg, #875f26 0%, #e4bb49 100%);
    /* transition: 0.4s ease all; */
    border: none;
}
.menu-enquirebtn:hover {
    background: linear-gradient(90deg, #e4bb49 0%, #875f26 100%);
    transition: 0.5s ease all;
}
.menu-callbtn {
    position: relative;
    color: #ffffff;
    padding-inline: 12px 12px;
    padding-block: 10px 10px;
    margin-inline: 8px;
    border-radius: 8px;
    background: linear-gradient(90deg, #875f26 0%, #e4bb49 100%);
    /* transition: 0.4s ease all; */
    display: inline-flex;
}
.menu-callbtn:hover {
    background: linear-gradient(90deg, #e4bb49 0%, #875f26 100%);
    transition: 0.5s ease all;
}
.menu-side-items .menu-links {
    position: relative;
    padding-block: 10px;
    border-bottom: 2px solid transparent;
    display: block;
    width: fit-content;
}
.menu-side-items .menu-links::before {
    content: "";
    width: 0%;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(-90deg, #7a541f 0, #ebb447 100%) 1;
    position: absolute;
    top: 16px;
    height: 20px;
    transition: 0.8s ease-in-out;
}
.menu-side-items:active .menu-links::before,
.menu-side-items:hover .menu-links::before {
    width: 100%;
}
.menu-links.shade:hover {
    color: #e4bb49;
    transition: 0.4s ease-in-out;
}
/* Header menu-icon Css start */
.menu-right-icon {
    margin-right: 10px;
}
.menu-right-icon,
.menu-right-icon::after,
.menu-right-icon::before {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 0px;
    background: currentColor;
}
.menu-right-icon::after,
.menu-right-icon::before {
    content: "";
    position: absolute;
    top: -6px;
    right: 0;
    width: 14px;
}
.menu-right-icon::after {
    top: 6px;
    width: 10px;
}
/* Header menu-icon Css end */
/* Header menu-close Css start */
.menu-close-icon {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 40px;
}
.menu-close-icon::after,
.menu-close-icon::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 16px;
    height: 2px;
    background: currentColor;
    transform: rotate(45deg);
    border-radius: 5px;
    top: 8px;
    left: 1px;
}
.menu-close-icon::after {
    transform: rotate(-45deg);
}
/* Header menu-close Css end */
/* Header call-icon Css start */
.menu-call-icon {
    box-sizing: border-box;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
}
.menu-call-icon::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
}
.menu-call-icon::after {
    width: 18px;
    height: 18px;
    border-top-left-radius: 1px;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 12px;
    border-left: 4px solid;
    border-bottom: 4px solid;
    left: 2px;
    bottom: 0px;
    transform: rotate(2deg);
    background: linear-gradient(to left, currentColor 10px, transparent 0)
            no-repeat right 11px/6px 4px,
        linear-gradient(to left, currentColor 10px, transparent 0) no-repeat -1px
            0/4px 6px;
}
/* Header call-icon Css end */

.menu-sidebar {
    position: fixed;
    top: 0;
    right: -340px;
    width: 300px;
    max-width: 300px;
    height: 100%;
    background-color: #f5f5f5;
    transition: all 0.3s ease-in-out;
    z-index: 9999;
    overflow-y: auto;
    padding: 20px 20px;
}
.elvlogo-sidemenu-img {
    width: 100%;
    object-fit: contain;
    object-position: center;
}
.menu-sidebar.open {
    right: 0;
}

body.menu-open {
    overflow: hidden;
}
.menu-close-btn {
    position: absolute;
    right: 0;
    top: 15px;
    border: 0;
    background-color: transparent;
    color: #ffffff;
    padding-inline: 10px 10px;
    padding-block: 8px 8px;
    margin-inline: 8px;
    border-radius: 8px;
    background: linear-gradient(90deg, #875f26 0%, #e4bb49 100%);
    transition: 0.4s ease all;
    cursor: pointer;
}
.menu-close-btn:hover {
    background: linear-gradient(90deg, #e4bb49 0%, #875f26 100%);
    transition: 0.5s ease all;
}
.menu-content {
    position: relative;
    padding: 0px 20px 30px;
}
.menuside-logo-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-side-holder {
    position: relative;
    padding-left: 0;
    list-style: none;
    text-decoration: none;
}
/* footer start */
/* footer mail-icon start */
.mail-css-icon,
.mail-css-icon::after {
    display: block;
    box-sizing: border-box;
    height: 14px;
    border: 2px solid;
}
.mail-css-icon {
    overflow: hidden;
    position: relative;
    width: 18px;
    border-radius: 2px;
}
.mail-css-icon::after {
    content: "";
    position: absolute;
    border-radius: 3px;
    width: 14px;
    transform: rotate(-45deg);
    bottom: 3px;
    left: 0;
}
/* footer mail-icon end */
/* footer location-icon start */
.location-css-icon {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: rotate(45deg);
    width: 18px;
    height: 18px;
    border-radius: 100% 100% 0 100%;
    border: 2px solid;
    margin-top: -4px;
}
.location-css-icon::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 8px;
    height: 8px;
    border: 2px solid;
    top: 3px;
    left: 3px;
    border-radius: 40px;
}
/* footer location-icon end */
/* footer instagram-icon start */
/* .instagram-css-icon {
    box-sizing: border-box;
    position: relative;
    display: block;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    border-radius: 4px;
    width: 20px;
    height: 20px
}
.instagram-css-icon::after,
.instagram-css-icon::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}
.instagram-css-icon::after {
    border: 2px solid;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    top: 3px
}
.instagram-css-icon::before {
    border-radius: 3px;
    width: 2px;
    height: 2px;
    background: currentColor;
    right: 1px;
    top: 1px
} */
/* footer instagram-icon end */
.footer_main {
    position: relative;
    padding: 50px 70px 40px;
    background-color: #141414;
}
.footer-grid-holder {
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: relative;
    gap: 25px;
}
.footer-grid-items {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    height: 100%;
    max-width: 350px;
}
.footer-grid-two {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
    align-items: baseline;
}
.footer-social-content-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
}
.elvlogo-footer-img {
    object-fit: contain;
    object-position: left;
    width: 100%;
    height: 100%;
    max-height: 85px;
}
.footer-details-text,
.footer-logo-content {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    color: #ffffff;
}
.footer-grid-two-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.footer-links {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    padding-block: 6px;
    text-decoration: none;
    color: #ffffff;
}
.footer-flex-detail-box {
    display: flex;
    align-items: baseline;
    position: relative;
    justify-content: flex-start;
}
.footer-loc-icons {
    position: relative;
    flex-basis: 30px;
    margin-right: 10px;
    margin-top: 5px;
}
.footer-grid-two-items a {
    text-decoration: none;
}
.footer-loc-icons span {
    color: #ffffff;
}
.copyright-text {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    padding-block: 6px;
    text-decoration: none;
    color: #ffffff;
}
.footer-subheader {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    margin-block: 0 12px;
}
.elv-social-images {
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.social-icon-links {
    text-decoration: none;
    margin-inline: 8px;
}
.elv-social-images:hover {
    transition: 0.5s ease all;
    transform: scale(1.2);
}
.details-link:hover,
.footer-links:hover {
    transform: translatex(5px);
    transition: 0.5s ease all;
}
.details-link {
    display: block;
    margin-bottom: 8px;
}
.details-link:hover {
    transform: translatey(-3px);
    transition: 0.5s ease all;
}
/* footer end */
/* Breadcrumbs Start */
.elv-breadcrumb {
    position: relative;
    padding-block: 5px;
}
.breadcrumb-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    margin-block: 1rem;
    padding-left: 0;
}
.breadcrumb-list a {
    list-style: none;
    text-decoration: none;
    padding-inline: 0 0px;
    color: #b3b3b3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.breadcrumb-list a:hover {
    color: #7a541f;
    transition: 0.4s ease-in-out;
}
.breadcrumb-list a,
.breadcrumb-list span {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    padding-block: 0;
    margin-block: 0;
}
.breadcrumb-right-chevron {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 100px;
    color: #b3b3b3;
}
.breadcrumb-right-chevron::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-radius: 2px;
    transform: rotate(-45deg);
    right: 6px;
    top: 4px;
}
/* Breadcrumbs End */
/* Arrow-right know-more Start */
.arrowspan-right-chevron {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 100px;
    color: currentColor;
}
.arrowspan-right-chevron::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-radius: 0px;
    transform: rotate(-45deg);
    right: 6px;
    top: 4px;
}
/* Arrow-right know-more End */
::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #875f26 0, #e4bb49 100%);
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(90deg, #875f26 0, #e4bb49 100%);
}
/* menu drop down aboutus */
.aboutdesk-dropdown {
    position: absolute;
    top: 2em;
    transition: 0.4s ease all;
    transform-origin: top center;
    transform: scaleY(0);
    background-color: #f3f0ed;
    border-radius: 6px;
    box-shadow: -5px -5px 10px #00000030, 5px 5px 10px #00000030;
    z-index: 9999;
    padding-inline: 15px;
    padding-block: 8px 0;
    list-style: none;
    margin-block: 8px 10px;
    opacity: 0;
    visibility: hidden;
}
.aboutus-menudesk:hover .aboutdesk-dropdown {
    transform: scaleY(1);
    opacity: 1;
    visibility: visible;
    transition: 0.4s ease all;
    transform-origin: top center;
}
.aboutusdesk-links {
    position: relative;
    padding-block: 8px;
    border-bottom: 2px solid transparent;
    display: block;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
}
.aboutusdesk-links::before {
    content: "";
    width: 0%;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(-90deg, #7a541f 0, #ebb447 100%) 1;
    position: absolute;
    top: 12px;
    height: 20px;
    transition: 0.8s ease-in-out;
}
.aboutusdesk-links:hover:before {
    width: 100%;
}

.menu-links.aboutmob-span .breadcrumb-right-chevron {
    color: #141414;
    margin-left: 10px;
    transform: rotate(270deg);
    transition: 0.6s ease all;
}
.menu-links.aboutmob-span .breadcrumb-right-chevron.rotatearrow {
    transform: rotate(90deg);
    transition: 0.6s ease all;
}
.menu-side-items .menu-links.aboutmob-span {
    cursor: pointer;
    width: fit-content;
    border: 0;
    padding-inline: 0;
    display: flex;
    background-color: transparent;
}
.aboutus-links {
    position: relative;
    padding-block: 10px;
    border-bottom: 2px solid transparent;
    display: block;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
}
.menu-side-items .aboutus-links::before {
    content: "";
    width: 0%;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(-90deg, #7a541f 0, #ebb447 100%) 1;
    position: absolute;
    top: 18px;
    height: 20px;
    transition: 0.8s ease-in-out;
}
.aboutus-links:hover:before {
    width: 100%;
}
.menu-links:focus,
.aboutmob-span:focus {
    outline: 0;
}
.menu-mobile {
    display: none;
}
.dropdown-menu {
    position: relative;
    max-height: 0;
    width: fit-content;
    -webkit-transition: max-height, 0.8s ease-in-out;
    transition: max-height, 0.8s ease-in-out;
    overflow: hidden;
    padding-left: 12px;
}
.display-menu {
    max-height: 340px;
}
/* caller icon image changes svg call icon */
.elv_caller_icon {
    width: 20px;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.headcall-hallow-icon {
    display: block;
}
.headcall-solid-icon {
    display: none;
}
.menu-callbtn:hover .headcall-solid-icon,
.menu-callbtn:active .headcall-solid-icon {
    transition: 0.5s ease all;
    display: block;
}
.menu-callbtn:hover .headcall-hallow-icon,
.menu-callbtn:active .headcall-hallow-icon {
    transition: 0.5s ease all;
    display: none;
}
.menu-items.caller-logos {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
/* caller icon image changes svg call icon */
/* menu drop down aboutus */
@media only screen and (min-device-width: 1200px) and (max-device-width: 1350px) {
}
@media only screen and (min-device-width: 1025px) and (max-device-width: 1199px) {
}
@media only screen and (min-device-width: 992px) and (max-device-width: 1024px) {
    .footer-grid-holder {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .footer_main {
        padding: 50px 50px;
    }
}
@media only screen and (min-device-width: 769px) and (max-device-width: 991px) {
    .footer-grid-holder {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .footer_main {
        padding: 50px 50px;
    }
    .mob-hide {
        display: none;
    }
    .mobile-block {
        display: none;
    }
    .menu-mobile {
        display: block;
    }
}
@media only screen and (max-width: 768px) {
    .footer-grid-holder {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .footer_main {
        padding: 50px 50px;
    }
    .mob-hide {
        display: none;
    }
    .mobile-block {
        display: none;
    }
    .menu-mobile {
        display: block;
    }
    img.elvlogo-img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        max-width: 75px;
    }
    .header-flex {
        width: calc(100% - 50px);
    }
}
@media only screen and (max-width: 767px) {
    .footer-grid-two {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .footer_main {
        padding: 40px 20px;
    }
    .copyright-text {
        text-align: center;
    }
    .menu-items {
        padding-inline: 8px 8px;
    }
    .header-flex {
        width: calc(100% - 40px);
    }
    .menu-main {
        padding-inline: 10px 0px;
    }
    .elvlogo-img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        max-width: 75px;
    }
    .menu-items:last-child {
        padding-inline: 8px 0px;
    }
}
@media only screen and (max-width: 550px) {
    img.elvlogo-img {
        max-width: 60px;
    }
    .menu-callbtn {
        padding-inline: 8px 8px;
        padding-block: 8px 8px;
        margin-inline: 4px;
        border-radius: 8px;
    }
    .menu-links {
        font-size: 14px;
    }
    .breadcrumb-list {
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 375px) {
    .breadcrumb-list a,
    .breadcrumb-list span {
        font-size: 14px;
    }
}
/*popup styles*/
.enquire-overlay {
    background: rgba(0, 0, 0, 0.8);
    opacity: 0.8;
    filter: alpha(opacity=80);
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    display: none;
}
.enquire-popup {
    background: #fff;
    position: fixed;
    top: 25%;
    left: 20%;
    bottom: 0;
    right: 0;
    z-index: 101;
    width: 60%;
    height: max-content;
    display: none;
}
@media screen and (max-width: 768px) {
    /* Popup Inner */
    .enquire-overlay {
        background: rgba(0, 0, 0, 0.8);
        opacity: 0.8;
        filter: alpha(opacity=80);
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        z-index: 100;
    }
    /* Popup */
    .enquire-popup {
        background: white;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 101;
        margin: auto;
        width: 90%;
        /* height: 50%; */
        /* margin:auto 5%; */
    }
}
.enquire-popup .enquire-popup-inner {
    position: relative;
    height: auto;
    padding: 5%;
}
.enquire-popup .enquire-popup-inner input.enquire-btn-close {
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    background: linear-gradient(90deg, #875f26 0, #e4bb49 100%);
    border: solid 2px white;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    outline: none;
}
.enquire-popup-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.enquire-grid-holder1 {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    position: relative;
    z-index: 5;
}
.enquire-grid-item {
    position: relative;
    height: 100%;
    align-self: center;
    padding-block: 20px 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    box-sizing: border-box;
}
.enquire-flex-box {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    padding-block: 10px;
}
.enquire-address-icons i {
    color: #404040;
}
.enquire-links {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    padding-left: 12px;
    color: #999999;
    text-decoration: none;
}
.enquire-links-flex {
    display: flex;
    flex-flow: column;
    align-items: baseline;
    justify-content: flex-start;
}
.enquire-map-links {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    padding-inline: 11px 0;
    padding-block: 10px 10px;
    margin-inline: 0;
    border-radius: 3px;
    transition: 0.4s ease all;
    text-transform: uppercase;
    background: linear-gradient(90deg, #875f26 20%, #e4bb49 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.enquire-locmap-btn:hover,
.enquire-map-links:hover {
    background: linear-gradient(90deg, #e4bb49 30%, #875f26 78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.4s ease all;
}
.enquire-h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #1a1a1a;
    width: fit-content;
    margin-block: 12px 0;
    width: 100%;
}
.enquire-form {
    position: relative;
    width: 100%;
    padding-block: 20px 20px;
}
.enquire-fields {
    position: relative;
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-block: 20px 0px;
}
.enquire-input-field {
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #b3b3b3;
    color: #504f4f;
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    height: 100%;
    padding: 10px 10px 5px;
    margin-inline: 0;
    margin-block: 0;
    line-height: 1.2;
    box-sizing: border-box;
}
.enquire-input-field:focus,
.enquire-input-field:focus-visible {
    outline: 0;
}
.enquireblog-btn {
    position: relative;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    color: #fff;
    padding-inline: 20px 20px;
    padding-block: 10px 10px;
    margin-inline: 8px;
    border: 0;
    border-radius: 8px;
    background: linear-gradient(90deg, #875f26 0, #e4bb49 100%);
    transition: 0.4s ease all;
}
