
.accountant-main{
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #1a1a1a;
    width: fit-content;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(-90deg,#7a541f 0,#ebb447 100%) 1;
    margin-block: 30px 50px;
    margin-inline: auto;
}

.account-subhead{
    text-align: center;
    color: rgba(20, 20, 20, 1);
}

.account-holder{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    position: relative;
    z-index: 5;
    align-items: center;
}

.account-text{
    color: rgba(153, 153, 153, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.gold-linear-btn{
    position: relative;
    color: #fff;
    padding-inline: 25px 25px;
    padding-block: 10px 10px;
    margin-inline: 0;
    border-radius: 8px;
    background: linear-gradient(90deg,#875f26 0,#e4bb49 100%);
    transition: .4s ease all;
    text-decoration: none;
    text-transform: uppercase;
}

.gold-btn-box.gold-left {
    justify-self: center;
}

.gold-linear-btn:hover {
    background: linear-gradient(90deg,#e4bb49 0,#875f26 100%);
    box-shadow: -1px 6px 10px 0 rgba(120,60,20,.2);
    transition: .5s ease all;
}

.account-ul{
    padding-left: 18px;
}
.account-head{
    text-transform: uppercase;
    font-size: 24px;
    line-height: 24px;
    color: #000;
    margin-block: 30px 0px;
}

.account-div:last-child{
    margin-block: 0 60px;
}


@media screen and (max-width: 991px){
    .account-holder{
        gap: 30px;
        grid-template-columns: 1fr;
    }
}