.news-h1{
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;    
    text-transform: uppercase;
    color: #141414;
    margin-top: 40px;
    margin-bottom: 40px;
}
.news-h2{
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-transform: uppercase;
    color: #141414;   
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(-90deg,#7a541f 0,#ebb447 100%) 1;
    max-width: fit-content; 
}
.news-h3{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #141414;
    margin: 0;
}
.b-tab{
    display: none;
    margin-top: 20px;
}
.b-tab.active {
    display: block;
}
.tab-title {
    display: inline-block;
    padding: 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #999999;
    text-decoration: none;
    margin-right:20px;
    margin-bottom: 30px;
    margin-top: 40px;
} 
.tab-title.active {
    color: #141414;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(-90deg,#7a541f 0,#ebb447 100%) 1;
    max-width: fit-content;
}
.content-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
}
.content-grid-reverse{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
    grid-auto-flow: dense;
}
.user-icon-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 10px;
}
.dot{
    height: 25px;
    width: 25px;
    background: linear-gradient(90.96deg, #875F26 7.14%, #E4BB49 95.38%);
    border-radius: 50%;
    display: inline-block;
}  
.place-name{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #141414;
}
.place-desc{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #999999;
    margin:0;
}
.grid-content-column{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #FAFAFA;
    gap: 20px;
}
.news-img{
    width: 100%;
    height: auto;
    object-fit: contain;
}
.section-2{
    margin-top: 100px;
}
.gallery-grid, .blogs-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}
.blogs-col{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: #F2F2F2;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    width: 100%;
    height: 100%;
    padding: 30px 20px;
    box-sizing: border-box;
}
.blogs-p1{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;    
    letter-spacing: 0.02em;
    color: #141414;
}
.blogs-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blogs-p2{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #999999;    
    margin: 0;
}
.blogs-second-flex{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.blogs-p3{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    background: linear-gradient(90.96deg, #875F26 7.14%, #E4BB49 95.38%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin: 0;
    text-decoration: none;
}
.project-arrow {
    border: 1px solid transparent;
    border-image: linear-gradient(-90deg, #7a541f 0%, #ebb447 100%) 1;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
}
.projeect-right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.news-and-media {
    position: relative;
    padding-bottom: 50px;
}
@media screen and (max-width:767px) {
    .news-h1{
        font-size: 34px;
        line-height: 40px;
    }
    .news-h2{
        font-size: 34px;
        line-height: 28px;
    }
    .news-h3{
        font-size: 18px;
        line-height: 20px;
    }
    .content-grid, .content-grid-reverse{
        grid-template-columns: 1fr;
    }
    .news-h3{
        font-size: 14px;
        line-height: 15px;
    }
    .grid-content-column{
        gap: 0px;
    }
    .place-desc, .blogs-p2{
        font-size: 13px;
        line-height: 16px;
    }
    .place-name, .blogs-p3{
        font-size: 14px;
        line-height: 16px;
    }
    .blogs-grid{
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width:768px) and (max-width:991px) {
    .news-h1{
        font-size: 40px;
        line-height: 45px;
    }
    .news-h2{
        font-size: 26px;
        line-height: 30px;
    }
    .news-h3{
        font-size: 19px;
        line-height: 20px;
    }
    .news-h3{
        font-size: 13px;
        line-height: 15px;
    }
    .grid-content-column{
        gap: 0px;
    }
    .place-desc{
        font-size: 12px;
        line-height: 15px;
    }
    .place-name, .blogs-p2{
        font-size: 13px;
        line-height: 13px;
    }
    .blogs-p2{
        font-size: 14px;
        line-height: 16px;
    }
    .dot{
        height: 20px;
        width: 20px;
    }
}
@media screen and (min-width:992px) and (max-width:1199px) {
    .news-h1{
        font-size: 42px;
        line-height: 48px;
    }
    .news-h2{
        font-size: 28px;
        line-height: 34px;
    }
    .news-h3{
        font-size: 14px;
        line-height: 15px;
    }
    .grid-content-column{
        gap: 0px;
    }
    .place-desc{
        font-size: 13px;
        line-height: 16px;
    }
    .place-name{
        font-size: 14px;
        line-height: 16px;
    }
}
@media screen and (min-width:1200px) and (max-width:1439px) {
    .news-h1{
        font-size: 44px;
        line-height: 50px;
    }
    .news-h2{
        font-size: 30px;
        line-height: 36px;
    }
    .news-h3{
        font-size: 22px;
        line-height: 24px;
    }
}
.overlay {
    background:rgba(0,0,0,0.8);
    opacity:0.8;
    filter:alpha(opacity=80);
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:100;
    display: none;
}
.popup, .imgpopup{
    background: #fff;
    position: fixed;
    top: 30%;
    left: 10%;
    bottom: 0;
    right: 0;
    z-index: 101;
    width: 80%;
    height: 40%;
    display: none;
}
@media screen and (max-width:768px){  
    /* Popup Inner */
    .overlay {
        background: rgba(0, 0, 0, 0.8);
        opacity: 0.8;
        filter: alpha(opacity=80);
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        z-index: 100;
    }
    /* Popup */
    .popup{
        background: white;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 101;
        margin: auto;
        width:90%;
        height: 50%;
        margin:auto 5%;
    }
    .imgpopup {
        background: white;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 101;
        margin: auto;
        width:90%;
        height: fit-content;
        margin:auto 5%;
    }
}
.popup .popup-inner , .imgpopup .popup-inner{
    position: relative;
    height: 96%;
    padding: 1%;
}
.popup .popup-inner input.s3-btn-close , .imgpopup .popup-inner input.s3-btn-close{
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    background: linear-gradient(90deg,#875f26 0,#e4bb49 100%);
    border: solid 2px white;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    outline: none;
}
input.s3-btn {
    background: #f1f1f1;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.s3-center {
    text-align: center;
}
.video-frame{
    width: 100%;
    height: 100%;
}
.img-frame{
    width: 100%;
    height: auto;
    object-fit: contain;
}