/*Project carousel starts*/
.project-carousel{
    width: 100%;
    position: relative;
    height: 510px;
    box-sizing: border-box;
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
}
.project-carousel-control{
    transition: .5s ease all;
    position: absolute;
    top: 45%;
    cursor: pointer;
    user-select: none;
    width: 32px;
    height: 32px;
    z-index: 2;
    border: none;
    outline: 0;
    display: none;
    background: #fff;
}
.project-carousel:hover .project-carousel-control{
    transition: 0.5s ease all;
    display: block;
}
.project-carousel:active .project-carousel-control{
    transition: 0.5s ease all;
    display: block;
}
.project-carousel-content{
    height: 100%;
    position: relative;
    overflow : hidden;
    transition: width .4s;
}
.project-carousel-slide{
    height: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: left;
    align-items: center;
    transition: left .4s cubic-bezier(.47, .13, .15, .89);
}
.carousel-content-mob {
    transition: width .4s;
}
.slide-mob {
    transition: left .4s cubic-bezier(.47, .13, .15, .89);
}
.project-carousel-slide-card {
    width: 90%;
    height: 90%;
    transition: transform 1s;
    position: relative;
    display: flex;
    align-items: center;
}
.project-carousel-nav-left {
    left: 20px;
    color:#000;
}
.project-carousel-nav-right {
    right: 50px;
    color:#000;
}
.project-carousel-img{
    max-width:100%;
    height:auto;
    object-fit: contain;
}
.project-carousel-arrow{
    border: solid #000000;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
}
.project-carousel-right{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    top: 30%;
    left: 25%;
}
.project-carousel-left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    position:absolute;
    top: 30%;
    left: 35%;
}
.project-arrow{
    border: 1px solid transparent;
    border-image: linear-gradient(-90deg, #7A541F 0%, #EBB447 100%) 1;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
} 
.projeect-right{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.projects-carousel-info-card{
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 10px;
    position: absolute;
    width: 432px;
    height: 160px;
    right: -20px;
    bottom: -25px;
    background: #fff;
}
.info-card-p-1{
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 25px;    
    text-transform: uppercase;
    color: #141414;
    margin: 0;
    letter-spacing: 0.03em;
}
.info-card-p-2{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;    
    text-transform: uppercase;
    color: #999999;
    margin: 0;
    letter-spacing: 0.03em;
}
.info-card-p-3{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #999999;
    margin: 0;
    letter-spacing: 0.03em;
}
.info-card-p-4{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;    
    letter-spacing: 0.08em;
    text-transform: uppercase;    
    background: linear-gradient(90.96deg, #875F26 7.14%, #E4BB49 95.38%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: end;
    margin:25px 25px 0px 20px;
}
/*media query for carousel*/

@media screen and (max-width:767px){
    .project-carousel-slide-card{
        height: 100%;
        align-items: baseline;
        width:100%;
    }
    .project-carousel{
        height: 330px;
    }
    .project-carousel-slide{
        justify-content: center;
    }
    .project-carousel-control{
        height:30px;
        width:30px;
        /* display: none !important; */
    }
    .projects-carousel-info-card{
        width: 100%;
        box-sizing: border-box;
        left: 0;
        bottom: 0;
        height: 135px;
    }
    .project-carousel-arrow{
        padding: 4px !important;
    }
    .project-carousel-nav-right{
        right:10px;
    }
    .project-carousel{
        /* height: 250px; */
    }
    .project-carousel-nav-left{
        left: 10px;
    }
    .info-card-p-1{
        font-size: 20px;
        line-height: 10px;
    }
    .info-card-p-2, .info-card-p-3{
        font-size: 13px;
        line-height: 14px;
    }
    .info-card-p-4{
        font-size: 13px;
        line-height: 14px;
        margin-top: 0px;
    }
    .home-section-2{
        background: linear-gradient(180deg,rgba(255,255,255,1) 70%,rgba(235,234,233,1) 30%);
    }
}
@media screen and (max-width:375px) {
    .project-carousel-img {
        width: 100%;
        height: 390px;
        object-fit: fill;
    }
    .real-estate-carousel {
        height: 390px;
    }
}
@media screen and (min-width:768px) and (max-width:991px) {
    .project-carousel-control{
        height: 30px;
        width: 30px;
    }
    .project-carousel-nav-right{
        right: 30px !important;
    }
    .project-carousel-nav-left{
        left: 20px;
    }
    .project-carousel-arrow{
        padding: 4px !important;
    }
    .project-carousel{
        height: 335px;
    }
    .projects-carousel-info-card{
        width: 337px;
    }
    .home-section-2{
        height: 550px;
        /* background: linear-gradient(180deg,rgba(255,255,255,1) 70%,rgba(235,234,233,1) 30%); */
    }
}
@media screen and (min-width:992px) and (max-width:1199px) {
    .project-carousel-control{
        height:35px;
        width:35px;
    }
    .project-carousel-arrow{
        padding:5px;
    }
    .project-carousel-nav-right{
        right: 40px !important;
    }
    .project-carousel-nav-left{
        left: 30px;
    }
    .project-carousel{
        height: 390px;
    }
    .home-section-2{
        height: 675px;
    }
}
@media screen and (min-width:1200px) and (max-width:1439px) {
}
@media screen and (min-width:1440px){}
/*media query for carousel*/
/*Project carousel ends*/