.projects-list-main {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.project-header {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #1a1a1a;
    width: fit-content;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(-90deg, #7a541f 0, #ebb447 100%) 1;
    margin-block: 30px 50px;
    margin-inline: auto;
}
.project-list-items {
    position: relative;
    max-width: 950px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-flow: column;
    padding-right: 30px;
    margin-inline: 0 auto;
    margin-block: 30px 80px;
    text-decoration: none;
    height: 540px;
    width: 100%;
    z-index: 5;
    box-sizing: border-box;
}
.project-list-items:nth-child(odd) {
    margin-inline: auto 0;
}
.projectlist-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
    z-index: 2;
    position: relative;
}
.projectslist-content {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 20px;
    max-width: 420px;
    min-width: 300px;
    width: 100%;
    height: auto;
    max-height: 200px;
    box-shadow: -5px -5px 10px #00000018, 5px 5px 10px #00000018;
    box-sizing: border-box;
    z-index: 10;
    display: flex;
    flex-flow: column;
    transition: 0.4s ease all;
    margin: 0;
}
.project-list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.projectlistsubheader {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2;
    color: #141414;
    margin-block: 0 0px;
    text-transform: uppercase;
}
.projectlist-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    margin-block: 8px 10px;
    color: #999999;
}
.projectlist-text.uppercase {
    text-transform: uppercase;
}
.project-list-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    padding-inline: 0 0;
    padding-block: 10px 10px;
    margin-inline: 0;
    border-radius: 3px;
    transition: 0.4s ease all;
    text-transform: uppercase;
    background: linear-gradient(90deg, #875f26 30%, #e4bb49 78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    margin-inline: auto 0;
}
.project-list-link .arrowspan-right-chevron {
    color: #875f26;
}
.project-list-link:hover {
    background: linear-gradient(90deg, #e4bb49 30%, #875f26 78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.4s ease all;
}
.project-launch-label {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    color: #fff;
    background-color: #ee4f4f;
    margin: 0;
    padding-inline: 10px;
    padding-block: 10px;
    position: absolute;
    right: 30px;
    top: 2px;
    z-index: 4;
}
@media only screen and (min-device-width: 1200px) and (max-device-width: 1350px) {
}
@media only screen and (min-device-width: 1025px) and (max-device-width: 1199px) {
}
@media only screen and (min-device-width: 992px) and (max-device-width: 1024px) {
    .project-list-items,
    .project-list-items:nth-child(odd) {
        margin-inline: auto;
    }
    .projectlist-img {
        height: 540px;
        object-fit: cover;
    }
    .project-launch-label {
        top: 0px;
    }
}
@media only screen and (min-device-width: 769px) and (max-device-width: 991px) {
    .projectlist-img {
        height: 500px;
        object-fit: cover;
    }
    .project-list-items {
        height: 500px;
    }
    .project-launch-label {
        top: 0px;
    }
}
@media only screen and (max-width: 768px) {
    .project-header {
        font-size: 32px;
        margin-block: 15px 30px;
    }
    .projectlistsubheader {
        font-size: 24px;
    }
    .projectslist-content {
        padding: 20px;
        max-width: 360px;
    }
    .project-launch-label,
    .project-list-link,
    .projectlist-text {
        font-size: 16px;
    }
    .project-list-items {
        margin-block: 30px 40px;
    }
    .projectlist-img {
        height: 500px;
        object-fit: cover;
    }
    .project-list-items {
        height: 500px;
    }
    .project-launch-label {
        top: 0px;
    }
}
@media only screen and (max-width: 767px) {
}
@media only screen and (max-width: 550px) {
    .project-list-items {
        padding-right: 0px;
    }
    .projectslist-content {
        position: relative;
        max-width: 100%;
        box-sizing: border-box;
        padding: 10px;
        transition: 0.4s ease all;
    }
    .project-launch-label {
        font-size: 14px;
        right: 0px;
        top: 0px;
        padding-inline: 8px;
        padding-block: 5px;
    }
    .projectlist-img {
        height: 370px;
    }
    .project-list-items {
        height: auto;
    }
}
@media only screen and (max-width: 375px) {
    .project-header {
        font-size: 28px;
    }
    .projectlistsubheader {
        font-size: 20px;
    }
    .project-list-link,
    .projectlist-text {
        font-size: 14px;
    }
}
