.thankyou-holder{
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    gap: 10px;
    padding-block: 20px 0;
}

.thankyou-text{
    font-size: 18px;
    line-height: 1.2;
    color: #141414;
    padding-block: 0 15px;
    margin-block: 15px 20px;
}

.thankyou-content1{
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.thankyou-main{
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #1a1a1a;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(-90deg,#7a541f 0,#ebb447 100%) 1;
    margin-block: 5px;
}

.gold-linear-btn {
    position: relative;
    color: #fff;
    padding-inline: 25px 25px;
    padding-block: 10px 10px;
    margin-inline: 0;
    border-radius: 8px;
    background: linear-gradient(90deg,#875f26 0,#e4bb49 100%);
    transition: .4s ease all;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    margin-block: 0;
}

.thankyou-img{
    width: 100%;
    object-fit: contain;
    object-position: top;
    height: 100%;
}

.gold-linear-btn:hover {
    background: linear-gradient(90deg,#e4bb49 0,#875f26 100%);
    box-shadow: -1px 6px 10px 0 rgba(120,60,20,.2);
    transition: .5s ease all;
}


@media screen and (max-width: 991px){
    .thankyou-holder{
        gap: 70px;
        grid-template-columns: 1fr;
    }
}